@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,600i,700,700i&display=swap');
@import "./variables";
@import "./reset";
@import "./base";

.auto {
  display: grid;
  transition: all 0.5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);

  & img {
    display: block;
  }
}



.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.grid {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-column-gap: 16px;
  -ms-grid-columns: minmax(245px, 245px) 11fr;
  grid-template-columns: minmax(245px, 245px) 11fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.reactCoverCarousel__container__2xd56 {
  max-width: 1440px;
}

.coverCarousel__ReactCoverCarousel__2RCLX {
  background: #fff !important;
}

.cover__figure__2pFzB {
  box-shadow: 0px -9px 15px rgba(0, 0, 0, 0.2);
  // width: 180px !important;
}