@import "../shared";


.footer {
  min-height: 300px;
  padding-top: 30px;
  background-color: #484848;

  @media (max-width: $screen-sm-max) {
    padding-bottom: 30px;
  }

  &__sections {
    display: flex;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: $screen-sm-max) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
    }
  }

  &__section {
    padding: 20px;

    &.__left {
      flex-wrap: wrap;
      display: flex;
    }

    &.__middle {
      -webkit-box-flex: 0;
      -webkit-flex: 0 auto;
      -ms-flex: 0 auto;
      flex: 0 auto;

      &>.headline {
        margin-bottom: 15px;
        color: #fff;
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: 600;
      }

      &>.text {
        color: #fff;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
      }
    }

    &.__right {
      display: flex;
      flex: 0 auto;
      flex-wrap: wrap;
      -webkit-box-flex: 0;
      min-width: 250px;

      &>.social_link {
        width: 32px;
        height: 32px;
        min-height: 64px;
        min-width: 64px;
        padding-right: 9px;
        cursor: pointer;
      }
    }
  }

  &__link {
    width: 166px;
    margin-right: 45px;
    padding-bottom: 10px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    text-decoration: none;

    @media (max-width: $screen-sm-max) {
      width: 120px;
    }
  }
}